*{
    margin: 0;
    padding: 0;
}
.home{
    margin-top: 50px;
}
.home-header{
    margin-top: 100px;
    /* margin-left: 831px; */
}
.btn{
    /* margin-left: 830px; */
    margin-top: 150px;
    width: 160px;
    /* color: white; */
}
/* .container{
    color:#00FF00;
} */
.header{
    /* margin-left: 460px; */
    margin-top: 60px;
}
.btn4{
    /* margin-left: 1200px; */
    margin-top: 34px;
}
.refresh{
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: black;
}
.icons{
    margin-top: 80px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.Counter{
    margin-top: 80px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.elements{
    margin-top: 80px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.images{
    margin-top: 100px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.btn1{
    border: none;
    background-color: white;
    border-radius: 3px;
}
